* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins" sans-serif;
}

header h1 {
  text-align: center;
  font-size: 40px;
  margin: 50px 30px;
}

header p {
  text-align: center;
  font-size: 20px;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pads {
  width: 100%;
  display: flex;
}

.pads div {
  height: 100px;
  width: 100px;
  flex: 1;
}

.pad1 {
  background: #8ef6e4;
}

.pad2 {
  background: #9896f1;
}

.pad3 {
  background: #d59bf6;
}

.pad4 {
  background: #edb1f1;
}

.pad5 {
  background: #a8e6cf;
}

.pad6 {
  background: #fdffab;
}

.visual div {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  bottom: 0%;
  left: 20%;
  bottom: 0%;
  z-index: -1;
}

@keyframes jump {
  0% {
    bottom: 0%;
    left: 50%;
  }
  50% {
    bottom: 50%;
    left: 50%;
  }
  100% {
    bottom: 0%;
    left: 80%;
  }
}
